/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 30px;

  &.container-small {
    max-width: 400px;
  }
  &.container-large {
    max-width: 1600px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.err {
  display: block;
  color: red;
  margin: 10px 0;
}
